.footer {
    background-color: #000000;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #444444;
}

.text-footer{
    color: white;
    text-align: center;}
