.navbar {
    margin-bottom: 100px;
    background-color: black;
    text-align: center;
}
.text-navbar {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;}